repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.0
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix, --config=ruff.toml ]
    # Run the formatter.
    - id: ruff-format
      args: [--config=ruff.toml ]

